[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
redis = "*"
gunicorn = "*"
firebase-admin = "*"
cryptography = "*"
pyjwt = "*"
bcrypt = "*"
python-multipart = "*"
multipledispatch = "*"
SQL
bson = "*"

[dev-packages]

[requires]
python_version = "3.10"
